@import "tailwindcss";

@theme {
  --color-background: #F4FAFF;
  --color-primary: #2DB85E;
  --color-primary-dark: #22A04F;
  --color-text: #120309;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
